.ui.card,
.ui.card > .image {
    width: 100%;
    height: 100%;
}

html, body, .artwork {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', 'Yu Gothic Bold', meiryo, sans-serif;
}

.artwork {
    -webkit-app-region: drag;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.artwork .footer {
    -webkit-app-region: no-drag;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
    background-color: rgba(240, 240, 240, 0.93);
    border-top: 1px solid #bbb;
}